################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/workflow-sample
/obj
/Tests/bin
/Tests/obj
